//- =========================================================================================
	File Name: c3-transform-chart.pug
	Description: C3 transform chart examples.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//
extends template

block pageVars
	- var pageTitle    = "C3 Transform Chart"
	- var pageSubTitle = "c3 transform chart examples"
	- var description  = "Examples of transform charts like transform to line chart, transform to bar chart, transform to area chart, transform to scatter plot chart, transform to pie chart"
	- var activeMenu   = "c3-transform-chart"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"C3 Charts"}, {name:"Transform Chart"}])

//- Include page content in page block
append content
	include ../contents/c3-transform-chart.html

//- Vendor CSS
//------------------------------
//- Add vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/charts/c3.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src=app_assets_path + '/vendors/js/charts/d3.min.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/charts/c3.min.js', type='text/javascript')

//- Page CSS
//------------------------------
//- Add page specific CSS
append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/plugins/charts/c3-chart.css')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src=app_assets_path + '/js/scripts/charts/c3/transform/to-area.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/c3/transform/to-bar.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/c3/transform/to-line.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/c3/transform/to-pie.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/c3/transform/to-scatter-plot.js', type='text/javascript')