//- =========================================================================================
	File Name: chartist-pie-charts.pug
	Description: Chartist line chart examples.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//
extends template

block pageVars
	- var pageTitle    = "Chartist pie chart"
	- var pageSubTitle = "Chartist pie chart examples"
	- var description  = "A pie chart (or a doughnut chart) is a circular statistical graphic, which is divided into slices to illustrate numerical proportion. In a pie chart, the arc length of each slice (and consequently its central angle and area), is proportional to the quantity it represents."
	- var activeMenu   = "chartist-pie-charts"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Chartist Charts"}, {name:"Chartist pie chart"}])

//- Include page content in page block
append content
	include ../contents/chartist-pie-charts.html

//- Vendor CSS
//------------------------------
//- Add vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/charts/chartist.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src=app_assets_path + '/vendors/js/charts/chartist.min.js', type='text/javascript')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src=app_assets_path + '/js/scripts/charts/chartist/pie/pie.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/chartist/pie/custom-labels.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/chartist/pie/gauge.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/chartist/pie/donut.js', type='text/javascript')