//- =========================================================================================
	File Name: d3-circle-diagrams.pug
	Description: D3 circle diagram examples.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//
extends template

block pageVars
	- var pageTitle    = "D3 Circle Diagram"
	- var pageSubTitle = "D3 circle diagram chart examples"
	- var description  = "A circle diagram chart is a way of summarizing a set of categorical data or displaying the different values of a given variable."
	- var activeMenu   = "d3-circle-diagrams"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"D3 Charts"}, {name:"Circle Diagram"}])

//- Include page content in page block
append content
	include ../contents/d3-circle-diagrams.html

//- Vendor CSS
//------------------------------
//- Add vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/charts/d3.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src=app_assets_path + '/vendors/js/charts/d3.min.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/charts/venn.js', type='text/javascript')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src=app_assets_path + '/js/scripts/charts/d3/circle/interactive-venn.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/d3/circle/intersection-tooltip-venn.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/d3/circle/medical-venn.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/d3/circle/styled-venn.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/d3/circle/venn-venn.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/d3/circle/weighted-venn.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/d3/circle/sequences-sunburst.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/d3/circle/zoomable-sunburst.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/d3/circle/sunburst-partition.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/d3/circle/sunburst-distortion.js', type='text/javascript')