//- =========================================================================================
	File Name: dashboard-ecommerce.pug
	Description: Sales Dashboard
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	========================================================================================== 

extends template

block pageVars
	- var pageTitle   = "Dashboard eCommerce"
	- var activeMenu  = "dashboard-ecommerce"

block page-header

//- Include page content in page block
append content
	include ../contents/dashboard-ecommerce.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
	//- svg animated weather icons
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/weather-icons/climacons.min.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/fonts/meteocons/style.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/charts/morris.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/charts/chartist.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/charts/chartist-plugin-tooltip.css')

//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/fonts/simple-line-icons/style.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/core/colors/palette-gradient.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/pages/timeline.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/pages/dashboard-ecommerce.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src=app_assets_path + '/vendors/js/charts/chartist.min.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/charts/chartist-plugin-tooltip.min.js', type='text/javascript')
	//- Page js for advance cards
	script(src=app_assets_path + '/vendors/js/charts/raphael-min.js', type='text/javascript')
	//- Morris Chart
	script(src=app_assets_path + '/vendors/js/charts/morris.min.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/timeline/horizontal-timeline.js', type='text/javascript')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	//- Dashboard custom js
	script(src=app_assets_path + '/js/scripts/pages/dashboard-ecommerce.js', type='text/javascript')