//- =========================================================================================
	File Name: editor-quill.pug
	Description: Quill is a modern rich text editor built for compatibility and extensibility.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================

extends template

block pageVars
	- var pageTitle = "Quill Editor"
	- var pageSubTitle = "Rich text editor"
	- var description  = "Quill is a modern rich text editor built for compatibility and extensibility."
	- var activeMenu = "editor-quill"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Form Components"}, {name:"Quill Editor"}])



//- Include page content in page block
append content
	include ../contents/editor-quill.html

append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/editors/quill/katex.min.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/editors/quill/monokai-sublime.min.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/editors/quill/quill.snow.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/editors/quill/quill.bubble.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/pickers/daterange/daterangepicker.css')

append vendorjs
	//- Quill
	script(src=app_assets_path + '/vendors/js/editors/quill/katex.min.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/editors/quill/highlight.min.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/editors/quill/quill.min.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/extensions/jquery.steps.min.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/pickers/dateTime/moment-with-locales.min.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/pickers/daterange/daterangepicker.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/forms/validation/jquery.validate.min.js', type='text/javascript')
	
append pagejs
	script(src=app_assets_path + '/js/scripts/editors/editor-quill.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/forms/wizard-steps.js', type='text/javascript')

append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/plugins/forms/wizard.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/plugins/pickers/daterange/daterange.css')