//- =========================================================================================
	File Name: flot-bar-charts.pug
	Description: Flot bar chart examples.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//
extends template

block pageVars
	- var pageTitle    = "Flot Bar Chart"
	- var pageSubTitle = "Flot bar charts examples"
	- var description = "A diagram in which the numerical values of variables are represented by the height or length of lines or rectangles of equal width."
	- var activeMenu   = "flot-bar-charts"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Flot Charts"}, {name:"Flot Bar Chart"}])



//- Include page content in page block
append content
	include ../contents/flot-bar-charts.html

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src=app_assets_path + '/vendors/js/charts/flot/jquery.flot.min.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/charts/flot/jquery.flot.resize.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/charts/flot/jquery.flot.categories.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/charts/flot/jquery.flot.threshold.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/charts/flot/jquery.flot.stack.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/charts/flot/jquery.flot.errorbars.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/charts/flot/jquery.flot.navigate.js', type='text/javascript')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src=app_assets_path + '/js/scripts/charts/flot/bar/bar.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/flot/bar/annotations.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/flot/bar/thresholds.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/flot/bar/stacked-bar.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/flot/bar/error-bars.js', type='text/javascript')