//- =========================================================================================
	File Name: form-select-box-it.pug
	Description: Modular and light-weight selection library.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	========================================================================================== 

extends template

block pageVars
	- var pageTitle = "Select Box It"
	- var pageSubTitle = " SelectBoxIt just works."
	- var description  = "SelectBoxIt allows you to replace ugly and hard to use HTML select boxes with gorgeous and feature rich drop downs."
	- var activeMenu = "form-select-box-it"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Form Components"}, {name:"Select Box It "}])



//- Include page content in page block
append content
	include ../contents/form-select-box-it.html

append vendorcss
	//- SelectBoxIt CSS
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/forms/selects/jquery.selectBoxIt.css')

append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/plugins/forms/selectBoxIt/selectBoxIt.css')

append vendorjs
	//- jQuery UI JS
	script(src=app_assets_path + '/js/core/libraries/jquery_ui/jquery-ui.min.js', type='text/javascript')
	//- Select Box It JS
	script(src=app_assets_path + '/vendors/js/forms/select/jquery.selectBoxIt.min.js', type='text/javascript')

append pagejs
	//- Template JS for SelectBoxIt
	script(src=app_assets_path + '/js/scripts/forms/select/form-selectBoxIt.js', type='text/javascript')