//- =========================================================================================
	File Name: google-pie-charts.pug
	Description: google pie chart examples.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//
extends template

block pageVars
	- var pageTitle    = "google Pie Chart"
	- var pageSubTitle = "google pie chart examples"
	- var description  = "A pie chart (or a donut chart) is a circular statistical graphic, which is divided into slices to illustrate numerical proportion. In a pie chart, the arc length of each slice (and consequently its central angle and area), is proportional to the quantity it represents."
	- var activeMenu   = "google-pie-charts"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Google Charts"}, {name:"pie Chart"}])



//- Include page content in page block
append content
	include ../contents/google-pie-charts.html

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src='https://www.google.com/jsapi', type='text/javascript')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src=app_assets_path + '/js/scripts/charts/google/pie/pie.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/google/pie/pie-exploded.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/google/pie/pie-rotated.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/google/pie/3d-pie.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/google/pie/3d-pie-exploded.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/google/pie/donut.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/google/pie/donut-exploded.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/google/pie/donut-rotated.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/google/pie/pie-diff-radius.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/google/pie/pie-diff-border.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/google/pie/pie-diff-opacity.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/google/pie/pie-diff-invert.js', type='text/javascript')