//- =========================================================================================
	File Name:handson-table-cell-types.pug
	Description: Support almost all kind of cell types
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//
extends template

block pageVars
	- var pageTitle    = "HandsonTable Cell Types"
	- var activeMenu   = "handson-table-cell-types"
	- var pageSubTitle = "support almost all kind of cell types"
	- var description  = "HandsonTable support almost all kind of cell types i.e numeric, time, date, checkboxe, select, dropdowns & password etc.."



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"HandsonTable"}, {name:"Cell types"}])



//- Include page content in page block
append content
	include ../contents/handson-table-cell-types.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/tables/handsontable/handsontable.full.min.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/tables/handsontable/jsgrid-theme.min.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/tables/handsontable/jsgrid.min.css')

//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/plugins/tables/handsontable.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src=app_assets_path + '/vendors/js/tables/handsontable/handsontable.full.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/tables/handsontable/jsgrid.min.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/tables/handsontable/languages.min.js', type='text/javascript')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	//-Custom JS
	script(src=app_assets_path + '/js/scripts/tables/handsontable/handsontable-cell-types.js', type='text/javascript')