//- =========================================================================================
	File Name: layout-content-detached-right-sidebar.pug
	Description: The content detached right sidebar layout with navigation, content area and
				 detched right sidebar.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//

extends template

block pageVars
	- var pageTitle    = "Detached Right Sidebar"
	- var pageSubTitle = "Content detached right sidebar"
	- var description  = "The content detached right sidebar layout with navigation, content area and detched right sidebar."
	- var activeMenu   = "layout-content-detached-right-sidebar"



append pageConfig
	- var contentLayout = 'content-detached-right-sidebar'

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Page Layouts"}, {name:"Content detached right sidebar"}])

//- Include page content
append content
	include ../contents/layout-content-detached-right-sidebar.html
//- Include page sidebar
append sidebar
	include ../contents/sidebar-common.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/extensions/nouislider.min.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/ui/prism.min.css')

//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/plugins/extensions/noui-slider.min.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/core/colors/palette-noui.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	//- prism js
	script(src=app_assets_path + '/vendors/js/ui/prism.min.js', type='text/javascript')
	//- Rating
	script(src=app_assets_path + '/vendors/js/extensions/jquery.raty.js', type='text/javascript')
	//- knob
	script(src=app_assets_path + '/vendors/js/extensions/jquery.knob.min.js', type='text/javascript')
	//- No Ui Slider
	script(src=app_assets_path + '/vendors/js/extensions/wNumb.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/extensions/nouislider.min.js', type='text/javascript')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src=app_assets_path + '/js/scripts/extensions/knob.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/pages/content-sidebar.js', type='text/javascript')