//- =========================================================================================
	File Name: navbar-components.pug
	Description: The navbar components supports custom content such as dropdowns, form inpus, tabs, icons, lables, badges & pickers.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//

extends template

append pageConfig	
	- var centerLayout = false

block pageVars
	- var pageTitle    = "Navbar Components"
	- var pageSubTitle = "Navbar components supports custom content"
	- var description  = "The navbar components supports custom content such as dropdowns, form inpus, tabs, icons, lables, badges & pickers."
	- var activeMenu   = "navbar-components"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Navbars"}, {name:"Navbar Components"}])

//- Include page content in page block
append content
	include ../contents/navbar-components.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/ui/prism.min.css')
	//- iCheck css
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/forms/icheck/icheck.css')
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/forms/icheck/custom.css')

//- Page CSS
//------------------------------

//- Add custom page specific CSS
append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/plugins/forms/checkboxes-radios.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(type='text/javascript', src=app_assets_path + '/vendors/js/ui/prism.min.js')
	//- Icheck JS
	script(src=app_assets_path + '/vendors/js/forms/icheck/icheck.min.js', type='text/javascript')
	//- Bootstrap checkbox JS
	script(src=app_assets_path + '/vendors/js/forms/toggle/bootstrap-checkbox.min.js', type='text/javascript')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	//- Template JS for checkboxes and radios
	script(src=app_assets_path + '/js/scripts/forms/checkbox-radio.js', type='text/javascript')