//- =========================================================================================
	File Name: vector-maps-mapael-basic.pug
	Description: jQuery Mapael Basic Vector Maps.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//

extends template

block pageVars
	- var pageTitle    = "Mapael Basic Vector Maps"
	- var pageSubTitle = "jQuery mapael basic vector maps examples"
	- var description = "jQuery-Mapael - jQuery plugin based on raphael.js that allows you to display dynamic vector maps."
	- var activeMenu   = "vector-maps-mapael-basic"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {url:"#",name:"Maps"}, {url:"#",name:"Vector Maps"}, {url:"#",name:"jQuery Mapael"}, {name:"Mapael Basic Vector Maps"}])



//- Include page content in page block
append content
	include ../contents/vector-maps-mapael-basic.html

//- Vendor CSS
//------------------------------
//- Add vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/charts/mapael.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src=app_assets_path + '/vendors/js/charts/raphael-min.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/charts/mapael/jquery.mapael.min.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/charts/mapael/maps/france_departments.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/charts/mapael/maps/world_countries.js', type='text/javascript')
	script(src=app_assets_path + '/vendors/js/charts/mapael/maps/usa_states.js', type='text/javascript')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src=app_assets_path + '/js/scripts/charts/mapael/basic/horizontal-legend.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/mapael/basic/href-plotted-cities.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/mapael/basic/legend-images.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/mapael/basic/legend-plotted-cities.js', type='text/javascript')
	script(src=app_assets_path + '/js/scripts/charts/mapael/basic/zoom.js', type='text/javascript')
